<!--Footer Start Here-->
<div class="container">
    <div class="col-sm-12 col-md-6 col-lg-6">
        <ul class="nav navbar-nav navbar-right mainMenu" id="logOut" ng-hide="isLoggedIn">
            <li><a href="#"><i class="fa fa-search"></i> </a></li>
            <li>
                <a href="#">About Us</a>
            </li>
            <li>
                <a href="#">Contact Us</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <p class="text-muted">&copy; 2016 Copyright BLOCKRITI. All Rights Reserved</p>
    </div>


</div>

<!--Footer END Here-->