<!-- TOP/NAV -->
      <!--<div layout="row" layout="row"  layout-align="space-around">

      <md-progress-circular ng-disabled="!vm.activated" class="md-hue-2" md-diameter="120px"></md-progress-circular>
      </div>-->
      <div class="material_block">
  <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="circle" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg>


</div>

<nav-demo></nav-demo>

<div class="page-content-margin">

    <!-- Deposit/Withdraw FAB -->
    <deposit-withdraw-demo></deposit-withdraw-demo>


    <md-grid-list flex md-cols-xs="1" md-cols-sm="2" md-cols-md="9" md-cols="12" md-row-height="fit" md-gutter="27px" md-gutter-md="16px" md-gutter-sm="8px" md-gutter-xs="8px">
    <!-- <md-grid-list md-cols-xs="1" md-cols-sm="4" md-cols-md="9" md-cols="12" md-row-height-gt-md="5:7" md-row-height-md="4:7"
                  md-row-height-sm="1:1" md-row-height-xs="5:2" md-gutter="27px" md-gutter-md="16px" md-gutter-sm="8px"
                  md-gutter-xs="8px"> -->

        <!-- INSTANT/LIMIT ORDER -->
        <md-grid-tile id="order-grid-title" ng-if="$mdMedia('gt-sm')" md-rowspan="2" md-colspan="3" md-colspan-sm="2" md-colspan-xs="1">
            <md-card layout-fill style="background: #242424;">
                <md-content id="instant-limit-content">
                    <instant-limit-demo ng-cloak style="height: 100%"></instant-limit-demo>
                </md-content>
            </md-card>
        </md-grid-tile> 
        <!-- INSTANT/LIMIT if xs or sm -->
        <md-grid-tile ng-if="$mdMedia('(max-width: 959px)')" md-rowspan="2" md-colspan="3" md-colspan-sm="2" md-colspan-xs="1">
            <md-card layout-fill style="background: #242424;">
                <md-content>
                    <instant-limit-demo ng-cloak></instant-limit-demo>
                </md-content>
            </md-card>
        </md-grid-tile>

        <!-- BOTTOM ROW - open, current buy/sell, most recent -->
        <!-- OPEN ORDERS -->
        <md-grid-tile ng-if="$mdMedia('gt-sm') || vm.displayOpen" md-rowspan="2" md-colspan="3" md-colspan-sm="2" md-colspan-xs="1">
            <!-- OPEN ORDER -->
            <md-card class="dark-cards" layout-fill>
                    <md-content>
                        <md-tabs md-stretch-tabs='always' class="md-primary" md-no-pagination="true">
                            <md-tab>
                                <md-tab-label>OPEN</md-tab-label>
                                <md-tab-body class="current-tab">
                                    <md-list class="table-fixed-width">
                                        <md-list class="list-sub-head" layout="row">
                                          <md-subheader flex="15">Type</md-subheader>
                                          <md-subheader flex="25">Price</md-subheader>
                                          <md-subheader flex="30">Amount</md-subheader>
                                          <md-subheader flex="20">Value</md-subheader>
                                          <md-subheader class="cancel-open-order-container" flex="10" >
                                              <md-icon ng-if="vm.demoOpenOrders.length > 0;" id="cancel-all-orders" class="mdi mdi-close-circle cancel-open-order" ng-click="vm.confirmCancelAllOrders($event);">
                                              </md-icon>
                                          </md-subheader>
                                        </md-list>
                                        <md-virtual-repeat-container id="vertical-container">
                                            <md-list-item md-virtual-repeat="order in vm.demoOpenOrders" class="repeated-item" flex="" md-item-size="28">
                                                <md-list ng-if="IsVisible" class="order-list-transaction" ng-class=" $index % 2 === 0 ? 'list-rotating-background' : '' " flex layout="row">
                                                    <md-list-item flex="15" class="order-transaction-information">{{ order.type | capitalize }}</md-list-item>
                                                    <md-list-item flex="20" class="order-transaction-information"><i class="fa fa-inr" aria-hidden="true"></i>{{ order.rate }}</md-list-item>
                                                    <md-list-item flex="30" class="order-transaction-information">{{ order.amount | nineDigitsBitcoin }}</md-list-item>
                                                    <md-list-item flex="25" class="order-transaction-information"><i class="fa fa-inr" aria-hidden="true"></i>{{ order.value }}</md-list-item>
                                                    <md-list-item flex="10" id="cancel-single-order">
                                                        <md-icon class="mdi mdi-close-circle cancel-open-order" ng-click="ShowHide();">
                                                            <md-tooltip>Cancel Order</md-tooltip>
                                                        </md-icon>
                                                    </md-list-item>
                                                </md-list>
                                            </md-list-item>

                                        </md-virtual-repeat-container>
                                      <div layout="column">
                                        <md-button class="md-raised md-primary instant-limit-container" ng-click="vm.goRegister()">
                                           Register
                                        </md-button>
                                      </div>
                                  </md-list>
                                </md-tab-body>
                            </md-tab>
                            <md-tab>
                                <md-tab-label>CLOSED</md-tab-label>
                                <md-tab-body class="current-tab">
                                    <md-list class="table-fixed-width">
                                        <md-list class="list-sub-head" layout="row">
                                            <md-subheader flex="15">Type</md-subheader>
                                            <md-subheader flex="25">Price</md-subheader>
                                            <md-subheader flex="30">Amount</md-subheader>
                                            <md-subheader flex="20">Value</md-subheader>
                                        </md-list>
                                        <md-virtual-repeat-container id="vertical-container">
                                            <md-list-item md-virtual-repeat="order in vm.demoCloseOrders" class="repeated-item" flex="" md-item-size="28">
                                                <md-list class="order-list-transaction" ng-class=" $index % 2 === 0 ? 'list-rotating-background' : '' " flex layout="row">
                                                    <md-list-item flex="15" class="order-transaction-information">{{ order.type | capitalize }}</md-list-item>
                                                    <md-list-item flex="20" class="order-transaction-information"><i class="fa fa-inr" aria-hidden="true"></i>{{ order.rate }}</md-list-item>
                                                    <md-list-item flex="30" class="order-transaction-information">{{ order.amount | nineDigitsBitcoin }}</md-list-item>
                                                    <md-list-item flex="25" class="order-transaction-information"><i class="fa fa-inr" aria-hidden="true"></i>{{ order.value }}</md-list-item>
                                                </md-list>
                                            </md-list-item>
                                        </md-virtual-repeat-container>
                                    </md-list>
                                </md-tab-body>
                            </md-tab>
                        </md-tabs>
                    </md-content>
            </md-card>
        </md-grid-tile>


        <!-- CURRENT BUY/SELL COMBINED - when screen is md only-->
        <md-grid-tile ng-if="$mdMedia('md') || (vm.displayCurrent && $mdMedia('(max-width: 959px)'))" md-rowspan="2" md-colspan="3" md-colspan-sm="2" md-colspan-xs="1" >
          <!-- CURRENT BUY/SELL COMBINED (PHONE/TABLET VIEW) -->
            <md-card class="dark-cards" layout-fill layout="column">
                <md-content>
                    <md-tabs md-stretch-tabs='always' class="md-primary">
                        <md-tab>
                            <md-tab-label>CURRENT BUY</md-tab-label>
                            <md-tab-body class="current-tab" style="position: absolute">
                                <current-card orders="currentBuy"></current-card>
                            </md-tab-body>
                        </md-tab>
                        <md-tab>
                            <md-tab-label>CURRENT SELL</md-tab-label>
                            <md-tab-body>
                                <current-card orders="currentSell"></current-card>
                            </md-tab-body>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </md-card>
        </md-grid-tile>

        <!-- CURRENT BUY -->
        <md-grid-tile ng-if="$mdMedia('gt-md')" md-rowspan="2" md-colspan="3" md-colspan-sm="1" md-colspan-xs="1">
            <!-- CURRENT BUY -->
            <md-card class="dark-cards" layout-fill layout="column">
                <current-card card-title="BUY" orders="currentBuy"></current-card>
            </md-card>
        </md-grid-tile>
        <!-- CURRENT SELL -->
        <md-grid-tile ng-if="$mdMedia('gt-md')" md-rowspan="2" md-colspan="3" md-colspan-sm="1" md-colspan-xs="1">
            <!-- CURRENT SELL -->
            <md-card class="dark-cards" layout-fill layout="column">
                <current-card card-title="SELL" orders="currentSell"></current-card>
            </md-card>
        </md-grid-tile>


        <!-- MOST RECENT -->
        <md-grid-tile ng-if="$mdMedia('gt-sm') || vm.displayRecent" id="most-recent"  md-rowspan="2" md-colspan="3" md-colspan-sm="2" md-colspan-xs="1">
            <!-- MOST RECENT -->
            <md-card class="dark-cards" layout-fill>
                <md-toolbar class="md-table-toolbar md-default">
                    <div class="md-toolbar-tools">
                        <span>MOST RECENT</span>
                    </div>
                </md-toolbar>

                <md-list class="table-fixed-width">
                    <md-list class="list-sub-head" layout="row">
                        <md-subheader flex="30">Price</md-subheader>
                        <md-subheader flex="40">Amount</md-subheader>
                        <md-subheader flex="30">Value</md-subheader>
                    </md-list>

                    <div md-virtual-repeat-container>
                        <md-list-item md-virtual-repeat="trade in currentTrade" class="repeated-item" flex="" md-item-size="28">
                            <md-list ng-class=" $index % 2 === 0 ? 'list-rotating-background' : '' " flex layout="row">
                                <md-list-item flex="30">
                                    <i class="fa fa-inr" aria-hidden="true"></i>{{ trade.rate}}
                                </md-list-item>
                                <md-list-item flex="40">{{ trade.amount | nineDigitsBitcoin }}</md-list-item>
                                <md-list-item flex="30">
                                    <i class="fa fa-inr" aria-hidden="true"></i>{{ trade.rate * trade.amount}}
                                </md-list-item>
                            </md-list>
                        </md-list-item>
                    </div>
                </md-list>
            </md-card>
        </md-grid-tile>	

        <!-- GRAPH -->
        <md-grid-tile id="graph-grid-title" ng-if="$mdMedia('gt-sm') || vm.displayGraph" md-rowspan="2" md-colspan="9" md-colspan-md="6" md-colspan-sm="2" md-colspan-xs="1"  md-whiteframe="18">
            <!-- GRAPH/CHART -->
            <md-card id="graph-card" class="dark-cards" layout-fill layout="column">
                <div id="graph-container" flex>
                    <graph data="data" default-zoom="35"></graph>
                </div>
            </md-card>
        </md-grid-tile>

	
		
		


    </md-grid-list>

</div>
