<md-progress-linear md-mode="indeterminate" ng-disabled="resetPasswordCtrl.showProgressBar" class="position-absolute"></md-progress-linear>
<div layout="column" layout-align="center center">
    <div>
        <h2>Reset Password</h2>
    </div>
    <form name="resetPasswordCtrl.passwordResetForm" ng-submit="resetPasswordCtrl.passwordResetForm.$valid && resetPasswordCtrl.submitResetPassword(resetPasswordCtrl.resetPassword)" layout="column">
        <md-input-container>
            <label>New Password</label>
            <input type="password" ng-model="resetPasswordCtrl.resetPassword.password" name="newPassword" minlength="8" maxlength="32" required complex-password>
            <div ng-messages="resetPasswordCtrl.passwordResetForm.newPassword.$error">
                <div ng-message="minlength">Min 8 characters.</div>
                <div ng-message="complexPassword">Need 3 of 4:<br> 1 uppercase letter<br> 1 lowercase letter<br> 1 digit<br> 1 special character</div>
                <div ng-message="maxlength">Max 32 characters.</div>
                <div ng-message="required">Required field.</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Confirm New Password</label>
            <input type="password" ng-model="resetPasswordCtrl.resetPassword.confirmPassword" name="confirmPassword" compare-to="resetPasswordCtrl.resetPassword.password" required>
            <div ng-messages="resetPasswordCtrl.passwordResetForm.confirmPassword.$error">
                <div ng-message="required">Required Field.</div>
                <div ng-message="compareTo">Passwords must match.</div>
            </div>
        </md-input-container>

        <md-button class="md-primary md-raised" type="submit">
            Submit
        </md-button>
    </form>
</div>