<md-dialog class="dialog-flex">
<!-- 
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>About</h2>
        </div>
    </md-toolbar> -->

    <md-dialog-content class="dialog-content-flex">
        <div class="md-dialog-content">
            <h2>About</h2>
            <p>
                BTC Monk Exchange offers a state-of-the-art trading platform that enables its users to buy or sell Bitcoin in real time, 24/7.
                At BTCMonk we are committed to providing great user experience. Our focus is on seamless trading and flawless customer support.
                Whether you are an occasional buyer or seller or a full-time day trader, we’ve got the right tools for you!
            </p>

            <p>
                BTCMonk is incorporated in the province of British Columbia, Canada and is registered with FINTRAC as a money services business.
            </p>

        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="cancel()">
            Close
        </md-button>
    </md-dialog-actions>

</md-dialog>
