<md-dialog class="freshdesk-dialog dialog-flex">

<!--     <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Help</h2>
        </div>
    </md-toolbar> -->

    <md-dialog-content class="dialog-min-width-height dialog-content-flex">
        <div class="md-dialog-content" layout="row" layout-align="center">
            <iframe class="freshwidget-embedded-form" id="freshwidget-embedded-form" src="https://taurus.freshdesk.com/widgets/feedback_widget/new?&widgetType=embedded&submitThanks=Thank+you+for+your+message!+A+customer+support+representative+will+review+your+request+and+get+back+to+you+as+soon+as+possible.&screenshot=no&searchArea=no" scrolling="no" height="470px" width="100%" frameborder="0">
            </iframe>
        </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="cancel()">
            Close
        </md-button>
    </md-dialog-actions>

</md-dialog>