<md-dialog class="dialog-flex">

<!--     <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Privacy Policy</h2>
        </div>
    </md-toolbar> -->

    <md-dialog-content class="dialog-content-flex">
        <div class="md-dialog-content">
            <h2>Privacy Policy</h2>
            <p>The following Privacy Policy outlines the manner in which BTC Monk Bitcoin Exchange collects, maintains, uses, stores, and discloses information collected from users of the BTC Monk website and any related service provided by BTC Monk and its associates. This policy applies to all products and services offered by BTC Monk.</p>
            <p>Throughout this policy, BTC Monk is referred to as "us", "our", "we", "the website", and "BTC Monk". Users of BTC Monk include but are not limited to registered members, as well as any visitor who uses the website in any way, shape or form. The privacy policy also applies to any automated system accessing any part of the BTC Monk Platform, whether it be through our API or any other means. This privacy policy also applies to any form of communication with BTC Monk, its employees, directors, and associates, including but not limited to e-mail or telephone communications.</p>

            <h3>Gathering Personal Information</h3>
            <p>In order to comply with KYC and anti-money laundering regulations, BTC Monk may request certain information from registered users, including your name, date of birth, address, photo identification, e-mail address, phone number, or any other personally identifiable information. Furthermore, BTC Monk may request such information to prevent fraud, and to protect BTC Monk in any way that we deem reasonable.</p>

            <h3>Storage of Personal Information</h3>
            <p>All sensitive and private data collected by BTC Monk is stored in an encrypted format. To achieve the highest levels of security and privacy, communication between your computer/device is secured using SSL.</p>

            <h3>Use of Personal Information</h3>
            <p>BTC Monk may collect and use personal information for the following purposes:</p>
            <ul>
              <li>To protect our system from fraud</li>
              <li>To provide and improve customer service</li>
              <li>To comply with KYC regulations</li>
              <li>To send periodic emails</li>
              <li>To contact users using any means that we deem necessary</li>
              <li>To process payments, including fundings and withdrawals</li>
              <li>To comply with any provincial or national law</li>
              <li>To carry out the regular business activities of BTC Monk</li>
            </ul>
            <p>BTC Monk will not disclose your personal information to any third party. However, as we deem reasonable, your information may be shared with any division of BTC Monk or its subsidiaries in order to provide the best possible user experience. We will not sell, trade or rent any personal information provided to BTC Monk with any third party. We will not share your information with any government agency, unless required to do so by law.</p>
            <p>By using BTC Monk, you accept the above privacy policy. If you do not accept this policy, please leave BTC Monk immediately. Continued use of BTC Monk or any of our services constitutes your acceptance of these terms. BTC Monk may modify this policy at any time. Please review this policy regularly.</p>
            <p>If you have any questions regarding this Privacy Policy, please contact us at support@taurusexchange.com.</p>


        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="cancel()">
            Close
        </md-button>
    </md-dialog-actions>

</md-dialog>
