<md-dialog class="dialog-flex">
<!-- 
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Terms of Service</h2>
        </div>
    </md-toolbar> -->

    <md-dialog-content class="dialog-content-flex" id="home-tos">
        <div class="md-dialog-content">
            <h2>Terms of Service</h2>
            <p>By using BTCMonk Bitcoin Exchange, accessing the website, or using any service provided by BTCMonk, you agree to the following terms of service. Continued use of the BTCMonk website demonstrates that you agree with our terms of service.</p>
            <p>Throughout the following terms of service, BTCMonk Bitcoin Exchange may be referred to as "us", "our", "we", "the website", and "BTCMonk". Users of BTCMonk include but are not limited to registered members, as well as any visitor who uses the website in any way, shape or form. The term cryptocurrency may be used to describe any form of digital currency, including but not limited to Bitcoin.</p>
            <p>By opening an account or accessing the BTCMonk Website, you agree to the following terms:</p>
            <ol>
                <li>You accept both the Terms of Service and the Privacy Policy
                    <ol>
                        <li>These policies may be changed at any time, with or without notice. It is your responsibility to regularly review the policies of BTCMonk.</li>
                    </ol>
                </li>
                <li>You are at least 18 years of age, or the age of majority in your country.</li>
                <li>You must not be a resident or citizen of the United States of America or any territories of the United States of America.</li>
                <li>You accept that the purchase and sale of cryptocurrency (Bitcoin) involves risk. Due to the constant price fluctuations, you may increase or lose value in your assets at any time.</li>
                <li>You acknowledge that purchasing Bitcoin (or any other digital currency offered by BTCMonk) involves risk and you will not hold BTCMonk accountable for any gains or losses that you incur as a result.</li>
                <li>In no circumstance shall BTCMonk be responsible for any loss that you incur.</li>
                <li>BTCMonk does not allow users to perform payments to any third party accounts.</li>
                <li>BTCMonk may cancel potentially high-risk top ups or withdrawals, including top-ups made using reversible payment methods.</li>
                <li>BTCMonk reserves the right to change top up and withdrawal limits on your account as we deem necessary.</li>
                <li>BTCMonk does not provide, offer or exchange securities, investment contracts or any other form of financial instrument that may be considered by law to be a "security".</li>
                <li>BTCMonk offers a marketplace for the buying and selling of Cryptocurrency. While we strive to ensure that marketplace is both fair and free, we cannot be held accountable for any form of "market manipulation" that may occur, whether it be within the BTCMonk marketplace, or in the cryptocurrency marketplace as a whole.
                    <ol>
                        <li>Users agree that cryptocurrency prices are often unpredictable and experience swings due to a variety of reasons, including government interference, market conditions and speculation.</li>
                        <li>BTCMonk does not set the current market price. The price of cryptocurrency units traded on the BTCMonk platform result directly from buy and sell orders placed by users.</li>
                        <li>Any trading decision based on information provided by BTCMonk shall be the responsibility of the user alone. BTCMonk assumes no responsibility for any action that is taken in the course of using the BTCMonk website or API.</li>
                        <li>Market information on BTCMonk is not delayed. However, in the event of a network outage or similar situation, users acknowledge that BTCMonk bears no responsibility for any delays.</li>
                    </ol>
                </li>
                <li>As a user of BTCMonk, you acknowledge that BTCMonk has no responsibility for any losses that you incur as a direct or indirect result of the website or any of our services.</li>
                <li>BTCMonk is not a bank, and therefore is not protected by CDIC. Fundings, whether they be in a national currency or digital cryptocurrency are not protected by any government insurance policy.
                    <ol>
                        <li>BTCMonk does not store customer’s funds. You may have to manually initiate the withdrawal of the proceeds to your own account outside of BTCMonk. BTCMonk accounts are established for storing your transactions information only.</li>
                        <li>All account fundings are considered to be purchases of “BTCMonk dollars”. These are units that are used for the purposes of purchasing Bitcoin or other cryptocurrencies. BTCMonk dollars are NOT Canadian or US dollars. Any notation of $ or CAD refers to an equivalent unit in BTCMonk dollars, which exist for the sole purpose of buying and selling Bitcoin and other cryptocurrencies.</li>
                        <li>BTCMonk is NOT a financial institution, bank, credit union, trust, or deposit business. We DO NOT take Deposits. We exist solely for the purposes of buying and selling cryptocurrencies.</li>
                    </ol>
                </li>
                <li>It is the user's responsibility to secure his or her BTCMonk account. Any loss that occurs as a result of negligent security practices, whether it be on the part of the user, or BTCMonk, will not be the responsibility of BTCMonk, its directors, associates or employees.
                    <ol>
                        <li>It is your responsibility to guard your password. Sharing your password with a third party constitutes a breach of this contract.</li>
                    </ol>
                </li>
                <li>The BTCMonk website and any related service is provided "as is". We make no warranties, expressed or implied.</li>
                <li>The content and services provided by BTCMonk are for informational purposes only and are not intended to provide legal, financial, tax, accounting or investment advice. We assume no liability for any information provided by our employees, directors, or affiliates, regardless of its accuracy. Any action taken by a user is their decision, and users absolve BTCMonk of any liability for any outcome that may occur.</li>
                <li>BTCMonk is based in Vancouver, BC, Canada. We comply with all local laws. It is the responsibility of the user to ensure that they are in compliance with their local laws.
                    <ol>
                        <li>Any user that breaks any law in their jurisdiction of residence or nationality by using any service provided by BTCMonk shall be liable for any damages incurred by BTCMonk as a result.</li>
                        <li>Any user that breaks any law in their jurisdiction of residence or nationality by using any service provided by BTCMonk agrees to forfeit any assets within their BTCMonk account, at the discretion of BTCMonk or its employees.</li>
                        <li>If buying and selling Cryptocurrency is not legal in your country, do not use BTCMonk. Failure to comply with local laws may result in the loss of your account and any assets contained within.</li>
                        <li>In the event that BTCMonk or its directors face legal action as a result of your actions, you agree cover any damages, including legal fees, that BTCMonk incurs as a result.</li>
                        <li>To the full extent permitted by applicable law, You hereby agree to indemnify BTCMonk, and its partners against any action, liability, cost, claim, loss, damage, proceeding or expense suffered or incurred if direct or not directly arising from your use of BTCMonk or its services, or from your violation of these Terms of Use.</li>
                    </ol>
                </li>
                <li>You agree not to copy any information from the BTCMonk website, without our permission, with the exception of the publicly available figures as found in our order book.</li>
                <li>In no event shall BTCMonk or its associates, affiliates, or subsidiaries be liable for any damages, including damage for loss of data or profit, arising out of the use of the services of materials provided by BTCMonk, even if BTCMonk is negligent in any way.</li>
                <li>You attest that you are not a criminal, are not associated with any criminal activity, and that all funds that are sent to BTCMonk are free from any criminal association, are not the proceeds of crime, and are not derived from any criminal activity.</li>
                <li>BTCMonk reserves the right to modify, add or remove any article from these terms, at any time, and at our sole discretion.</li>
            </ol>

            <h2>Refund Policy</h2>
            <p>Due to the nature of the Bitcoin and Cryptocurrency markets, all trades conducted on BTCMonk are final. Please review our official refund policy below.</p>
            <ol>
                <li>All fundings made to BTCMonk members' accounts can be refunded, at the request of the user, to the original funding method, provided that the funds remain in the original fiat balance of that user. If only a portion of the funds remain in the user account, a partial refund may be completed at the request of the user.</li>
                <li>Funds which have been traded for Bitcoin or any other Cryptocurrency through the BTCMonk system are not eligible for a refund.</li>
                <li>Funds which have been withdrawn from the BTCMonk website, using any available method, are not eligible for a refund.</li>
                <li>Funds which have been withdrawn from the BTCMonk website, using any available method, are not eligible for a refund.</li>
                <li>All refund requests will be processed using the same payment method as the original funding.</li>
                <li>If you have additional questions regarding our Refund Policy, please contact the administration of BTCMonk at support@BTCMonkexchange.com.</li>
            </ol>




        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="cancel()">
            Close
        </md-button>
    </md-dialog-actions>

</md-dialog>
