<!-- <div class="material_block">
  <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="circle" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg>
</div> -->
<logged-in-nav></logged-in-nav>

<div class="page-content-margin nav-modi-temp">



<div style="margin-top: 22px;" ng-cloak>	
  <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="12" md-cols-gt-md="12"  md-row-height-gt-sm="100px" md-row-height="150px" md-gutter="22px" md-gutter-gt-sm="16px" >
	
	    <md-grid-tile   md-rowspan-sm="2" md-rowspan="9"  md-colspan="12" md-colspan-md="12" md-colspan-sm="2" md-colspan-xs="1" md-whiteframe="2">
            <md-card id="topbar-stats-balance" layout-fill  style="background: #f1f1f1;">
                <md-content id="instant-limit-content">
                <md-progress-linear class="md-accent" md-mode="indeterminate" ng-disabled="vm.hideProgressBar"></md-progress-linear>
				<div style="padding: 0px 0 0px 10px; ">
				<h2 style="margin-bottom: 0;">Escrow</h2>

					<div class="md-padding" ng-cloak>
					  <div>
						<h1 class="md-title">Sell</h1>
						<div layout="row">
							<div flex>
							<md-card layout-fill >							
							  <md-input-container>
								<label>Commodity</label>
								<md-select ng-model="selectedItem" md-selected-text="getSelectedText()">
								  <md-optgroup label="commodity">
									<md-option ng-value="item" ng-repeat="item in items">{{item}}</md-option>
								  </md-optgroup>
								</md-select>
							  </md-input-container>	
							  <div style="margin-left: 10px;">
							  <h5>Description : <span style="font-style: italic;">recive description as per selection</span></h5>
							  </div>
							  <div>
								<form name="" id="" layout-wrap flex="100" class="md-inline-form">

<!-- 									<div layout-gt-sm="row">
									 <md-input-container class="md-block">
											<md-checkbox name="tos" ng-model="project.tos" required>
											  I accept the terms of service.
											</md-checkbox>
											<div ng-messages="tos.$error" multiple md-auto-hide="false">
											  <div ng-message="required">
												You must accept the terms of service before you can proceed.
											  </div>
											</div>
									  </md-input-container>
									</div> -->
									<div flex>
										<md-button class="md-raised md-primary">Start Escrow</md-button>
                                        <md-button ng-click="vm.getEscrowLink();" class="md-raised md-primary">
                                            Generate Escrow Link
                                        </md-button>
                                        <md-button ng-click="vm.getAllEscrows();" class="md-raised md-primary">
                                            Escrow List
                                        </md-button>
									</div>
                                    
                                    <div flex ng-if="activeEscrowLink && activeEscrowLink.length > 0" style="padding: 10px;">
                                        <b>Active Escrow Link</b> : 
										<a ng-href="activeEscrowLink">
                                            {{ activeEscrowLink }}
                                        </a>
									</div>
                                    
                                    <div flex ng-if="escrowSecretList && escrowSecretList.length > 0" style="padding: 10px;">
                                        <div style="padding-bottom:10px;">
                                            <b>Escrow List </b>
                                            <i id="btn-list-expand-collapse" ng-click="vm.toggleBtnNotation();" class="fa fa-chevron-down" aria-hidden="true"></i>
                                        </div>
                                        <div id="secretkeys-list" class="secretkeys-list">
                                            <md-radio-group ng-repeat="secret in escrowSecretList" ng-model="escrowSecret.selected">
                                                <md-radio-button ng-click="vm.showEscrowData();" value="{{secret}}" class="md-primary">
                                                    <div id="{{secret}}" style="padding:0px 0px 50px 0px;">
                                                        <div class="escrow-secret">
                                                            {{secret}}
                                                        </div>
                                                        <div class="escrow-info" style="display:none;font-size:10px;">
                                                            <div class="escrow-address">
                                                                <b>Address : </b>
                                                                {{secretData.address}}
                                                            </div>
                                                            <div class="escrow-commodity">
                                                              <b>Commodity : </b>{{secretData.extraData}}
                                                            </div>
                                                            <div class="escrow-balance">
                                                                <b>Balance :</b> 
                                                                {{secretData.escrowBalance}}
                                                            </div>
                                                            <!--<div class="escrow-transaction">
                                                                {{secretData.transaction}}
                                                            </div>
                                                            <div class="escrow-wasFirst">
                                                                {{secretData.wasFirst}}
                                                            </div>-->
                                                            <div class="escrow-state">
                                                                <b>State : </b>
                                                                {{secretData.state}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </md-radio-button><br/>
                                            </md-radio-group>
                                        </div>
									</div>
                                   
                                    <hr>
									
									<div layout="row" style="margin-left: 10px;">
										<div flex center center>
											<label style="margin-right: 128px; font-weight: bold;">Sender</label>
											<md-button class="md-raised md-primary">generate secret key</md-button> 
											<span>sender generated secret key</span>
											<md-input-container style="width:99%;">
											  <label>secret key</label>
											  <input required name="clientName" ng-model="sender.secret.key">
											  <div ng-messages="$error">
												<div ng-message="required">please paste the secret code generated</div>
											  </div>
											</md-input-container>
										</div>
									</div>										
									<div layout="row">
										
									</div>
									<div layout="row" style="margin-left: 10px;">
										<div flex center center>
											<label style="margin-right: 128px; font-weight: bold;">Reciver</label>
											<md-button class="md-raised md-primary">generate secret key</md-button> 
											<span>Reciver generated secret key</span>
											<md-input-container style="width:99%;">
											  <label>secret key</label>
											  <input required name="clientName" ng-model="sender.secret.key">
											  <div ng-messages="$error">
												<div ng-message="required">please paste the secret code generated</div>
											  </div>
											</md-input-container>
										</div>
									</div>	
																	
									<hr>
				
									<div layout="row" style="margin-left: 10px;">
										<div flex >
											
											<md-button style="width: 98%;" class="md-raised md-primary" ng-click="vm.releaseFunds();" ng-disabled="vm.disableReleaseFundsBtn">Release Fund</md-button> 
											
										</div>
									</div>
				
									<hr>
									
									<div layout="row" style="margin-left: 10px;">
										<div flex >
											
											<md-button style="width: 97.5%;" class="md-raised">Get status</md-button>
											
											<md-card layout-fill >
											
											
											 <md-list style="width: 99%;" >
												<md-subheader class="md-no-sticky">status as progress</md-subheader>
												<md-list-item class="md-3-line" ng-click="null">
												  
												  <div class="md-list-item-text" layout="column">
													<h3>1</h3>
													<h4>2</h4>
													<p>3</p>
												  </div>
												</md-list-item>
											 </md-list>
											</md-card>
											
											
										</div>
									</div>									
				
								</form>		
							  </div>
							  </md-card>
							</div>					
						</div>
					  </div>
					</div>				

				</div>
                </md-content>
            </md-card>
        </md-grid-tile>		
		
		<!-- <md-grid-tile md-rowspan-sm="2"  md-rowspan="4" md-colspan="12" md-colspan-md="12" md-colspan-sm="2" md-colspan-xs="1" md-whiteframe="2">
            <md-card id="topbar-stats-balance" layout-fill  style="background: #f1f1f1;">
                <md-content id="instant-limit-content">
					<div style="padding: 0px 0 0px 10px; ">
						<h2>New User</h2>				
						<div layout="row" style="margin-top:15px;">
							<div flex="40">
							<md-card layout-fill class="md-padding">	
								<label>Information</label>
								<md-button class="md-raised md-primary">contact</md-button>
								<md-button class="md-raised md-primary">process</md-button>
							</md-card>
							</div>	
							<div flex="60">
								<div style="float: left; margin-left: 30px;">
									<div>
									   <span>If confirming 'NO' escrow agent provide links</span>					   
									</div>
									<div>
									   <span>If confirming 'Yes' confirm with the seller</span>
									</div>
								</div>
							</div>
						</div>	

						<div layout="row" style="margin-top:50px;">							
							<div flex>
							<md-card layout-fill class="md-padding">
								<div style="text-align: center; font-weight: 500;">Start Now</div>
									<md-button class="md-raised md-primary">escrow login</md-button>								
							</md-card>
							</div>	
						</div>

						<div layout="row" style="margin-top:20px;">							
							<div flex>							
								<div style="text-align: center; font-weight: 500;">Lock the BTC accordingly</div>
							</div>	
						</div>						
						
					</div>
					


					
                </md-content>
            </md-card>
			
		
			
        </md-grid-tile>	 -->	
	
		
  </md-grid-list>	
</div>
	  
	  

</div>
